<form method="post" action="{{ path('subsidios_delete', {'idSubsidios': subsidio.idSubsidios}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subsidio.idSubsidios) }}">
    <button class="btn">Delete</button>
</form>
